<!-- <app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>
<app-success-alert></app-success-alert>
<app-warning-alert></app-warning-alert> --> 
<!-- <app-data-binding></app-data-binding>  -->
<!-- <app-add-to-cart></app-add-to-cart>  -->
<!-- <app-switch></app-switch>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<app-simple-form></app-simple-form>
<app-parent></app-parent>
<app-directives></app-directives>
<app-ng-style></app-ng-style>
<app-ngclass></app-ngclass> -->
 <app-registration-form></app-registration-form> 
 <!-- <app-personal-info></app-personal-info>  -->
<!-- <p appCustom>custom directives</p> -->
  <!-- <app-twoway-data-binding></app-twoway-data-binding>   -->
  <!-- <app-two-way-data-bindind-ass></app-two-way-data-bindind-ass> -->